{%extends "base.html"%}
{%block style%}<link rel="stylesheet" href="{{url_for('static', filename='Client/style.css')}}">{%endblock%}
{%block script%}<script type="text/javascript" src="{{url_for('static', filename='Client/script.js')}}"></script>{%endblock%}
{%block title%}Admin{%endblock%}



{%block content%}
    <div class="container center">
        <h3>Masukkan Nama Anda untuk dicetak pada Sertifikat</h3>
        <input id="name" type="text" class="input" placeholder="Nama, ex: Ananda Putra Sangiang">
        <div id="message"></div>
        <div class="hidden" id="loading">Sedang Memverifikasi...</div>
        <div id="verify" class="button center">VERIFIKASI</div>
        <div class="hidden" id="loading">Sedang Memverifikasi...</div>
    </div>
{%endblock%}


    
